// Epeison Styles

// Buttons + Forms
.principal-title {
  font-family: $font-family-principal-title;
  font-size: 60px;
}

/*.btn-primary:hover{
  background-color: $strong-red;
  border-color: $strong-red; }*/
 

.text-primary {
	color: $strong-red !important;
}
a.text-primary:hover {
	color: $red2 !important;
	text-decoration: none;
}
.nav-link.active{
	color: $red !important;
	font-weight: bold;	
}
// Header

.logo {
		width: 110px;	
} 

//Backgrounds
.backImage-index {
  background-image: url("../images/fondo_inicio.jpg");
  background-size: cover;
}
.headerBackImage {
  background-image: url("../images/horse_los_epeison_xl.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

//opacity
.black-opacity-05 {
  background-color: rgba(0, 0, 0, .5);
}
.opacity-091 {
  opacity: 0.91;
}
.gallery-item:hover{
	opacity: 0.9;
}
.headerImageOrigen{
  background-image: url("../images/horse_origen_xl.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
.headerImageProteccion {
  background-image: url("../images/horse_proteccion_xl.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.headerImageAdaptacion {
  background-image: url("../images/horse_adaptacion_xl.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.headerImageSustentabilidad {
  background-image: url("../images/horse_sustentabilidad_xl.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;	
}

.headerImageBlog {
  background-image: url("../images/horse_index_xl.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;	
}
.headerImageBlog {
  background-image: url("../images/horse_index_xl.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;	
}
.heBackImage-blog-post{
  background-image: url("../images/horse_index_xl.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;	
}
.headerImageDonacion {
 background-image: url("../images/donacion.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;	
} 
.headerImageContacto {
 background-image: url("../images/fondo_inicio.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;	
}
#header-index {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#header-index video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#header-index .container {
  position: relative;
  z-index: 2;
}

#header-index .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
